# Dataset
dataset/

# Extra images
images/

# Dashboard screenshots
notebooks/img/
notebooks/Dashboard.pbix
# Jupyter checkpoints
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc

# System files
.DS_Store
Thumbs.db